$verdeSpotify: #1ED55F;
$colorDeFondo: #0D0D0F;
$verdeLogin: #1CAB4F;
$fontSpotifyTitulo: Montserrat;
$fontSpotifyText: Roboto;


body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: $colorDeFondo;
}

.main-contenedor {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-contenedor {
    .logo-contenedor-img {
        display: flex;
        justify-content: center;
        margin: auto;
    }
    .logo-spotify {
        width: 110px;
        height: 110px;
        background-color: $verdeSpotify;
        border-radius: 100px;
    }
    .logo-contenedor-text {
        font-size: 35px;
        font-family: $fontSpotifyTitulo;
        font-weight: 900;
        color: white;
        margin-top: 8 px;
    }
}

.form-contenedor {
    .form-contenedor-1 {
        display: flex;
        flex-direction: column;
        margin: auto;
        font-family: $fontSpotifyText;
    }
    .form-username {
        width: 200px;
        height: 35px;
        border-radius: 100px;
        background-color: #121315;
        border-style: inset;
        border-color: white;
    }
    .form-username::placeholder {
        text-align: center;
        color: white;
    }
    .form-password {
        width: 200px;
        height: 35px;
        border-radius: 100px;
        background-color: #121315;
        border-style: inset;
        border-color: white;
    }

    .form-password::placeholder {
        text-align: center;
        color: white;
    }
    .form-forgot {
        color: white;
        font-size: 13px;
        text-align: right;
    }
}